* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
}

#loader {
    height: 100%;
    width: 100%;
    background-color: rgba(51, 47, 47, 0.808);
    position: absolute;
    z-index: 99;
}

#loader {
    padding: 12vh 5vw;
    background-color: #151515;
    line-height: 17vh;
    overflow: hidden;
}

#loader h1 {
    font-size: 7.5vw;
    font-family: "plain";
    text-transform: uppercase;
    font-weight: 500;
}

#loader #div1 {
    display: flex;
    align-items: center;
    justify-content: start;
}

#loader #div1 h1 {
    margin-left: 3.5vw;
}

#count {
    margin-right: 1vw;
}

#count h2 {
    font-size: 3.3vw;
    font-weight: 100;
    font-style: italic;
    font-family: "silk serif";
    margin-left: 6vw;
    margin-bottom: 5vh;
}

#div1 h2 {
    font-size: 3.3vw;
    font-weight: 100;
    font-style: italic;
    font-family: "silk serif";
    margin-bottom: 5vh;
}

#div1 h2:nth-child(1) {
    width: 5vw;
}

#div1 {
    line-height: 10vh;
    overflow: hidden;
}

#div2 {
    overflow: hidden;
}

#div3 {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1.5vw;
}

#div3 h3 {
    font-family: "plain";
    text-transform: uppercase;
    font-size: 7vw;
    font-weight: 500;
    /* color: #151515; */
    animation: anime;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes anime {
    0% {
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }

    48% {
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }

    50% {
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 1;
    }

    100% {
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 0;
    }
}
#div4{
    line-height: 3vh;
    margin-left: 24vw;
    margin-top: 9vh;
}
#div4 p{
    font-family: "plain";
    font-size: 1vw;
}
#curser{
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.603);
    position: fixed;
    z-index: 999;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}

#main {
    position: relative;
    background-color: #151515;
}



#page1 {
    height: 100vh;
    width: 100%;
    background-color: #151515;
}
#page1 #nav{
    padding: 3.7vw 5vw;
    display: flex;
    justify-content: space-between;
}
#nav #nav-part2{
    display: flex;
    font-family: "plain";
    gap: 3vw;
}
#nav-part2 h4{
    font-size: 1.1vw;
    font-weight: 300;
}
.lines{
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 99999;
}
.lines h1{
    font-size: 7.7vw;
    font-family: "plain";
    text-transform: uppercase;
    font-weight: 500;
    line-height: 7.7vw;
    width: 73%;
    /* background-color: red; */
    margin-left: 27%;
}
.lines:nth-child(2){
    margin-top: 5vh;
}
#hero h2{
    border-bottom: .6vw solid white ;
    transform: all ease 0.3s;
}
#hero h2, #hero h3{
    font-size: 7.7vw;
    font-family: "plain";
    text-transform: uppercase;
    font-weight: 500;
    line-height: 7.7vw;
    
}
.lines:nth-child(5){
    margin-right: 18.6vw;
    overflow: hidden;
}
#hero h2:hover{
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-weight: 500;
    border-bottom: none;
}
#first{
    width: 30%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}
#first h3{
    font-family: "plain";
    font-size: 1.1vw;
    font-weight: 100;
    line-height: 1.1vw;
}
#num p{
    font-size: 3.3vw;
    font-family: "silk serif";
    position: absolute;
    width: 5vw;
    /* background-color: aqua; */
    margin-left: 21vw;
}



#page2{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    padding-top: 10vh ;
    position: relative;
}
#video-box{
    height: 70vh;
    width: 70vw;
    position: relative;
    left: 30%;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
}
#video-box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#video-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
}
#page2 #gola{
    height: 11vw;
    width: 11vw;
    background-color: #FFA63D;
    border-radius: 50%;
    position: absolute;
    left: 70%;
    top: -13%;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2vw;
}
#page2 #gola i{
    position: absolute;
    z-index: 99999;
}




#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
}




#page4{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
}
#page4-contant{
    width: 72%;
    position: relative;
    left: 28%;
}
#page4-contant h1{
    font-size: 8vw;
    font-family: "plain";
    text-transform: uppercase;
    font-weight: 500;
}
#page4-contant #underline{
    height: .1vh;
    width: 100%;
    background-color: white;
    margin: 2vw 0;
}
#page4-contant>p{
    font-size: 2.3vw;
    font-family: "plain";
    width: 60%;
    font-weight: 300;
    margin-top: 8vh;

}
#page4 #flex-contant{
    display: flex;
    margin-top: 10vh;
}
#page4 #flex-contant img{
    width: 46%;
}
#page4 #flex-contant p{
    font-size: 1.1vw;
    font-family: "plain";
    width: 28%;
    line-height: 1.6vw;
    margin-left: 2vw;
}
#bluediv{
    background-color: #3F7DF4;
    width: 62%;
    padding: 3vw 3.4vw;
    position: relative;
    margin-top: -12%;
    margin-left: 30%;
}
#bluediv .sections{
    display: flex;
    align-items: flex-start;
    gap: 5vw;
    font-family: "plain";
    margin: 1vw 0;
    border-bottom: .1vw solid white;
    padding: 1.4vw 0;
}
#bluediv .sections h3{
    font-size: 1.8vw;
    font-weight: 500;
    width: 13vw;
    
}
#bluediv .sections p{
    font-size: 1vw;
    font-weight: 500;
}
